body {
  background-color: #e7e5e5;
  background-image: url("@img/index/background-desktop.jpg");
}

.wrapper{
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  max-width: $biger;
  min-height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

}

main{
  flex:1 1 auto;
}


@media ($tablet){}
@media ($desktop){}
